
.idea/compiler.xml
.idea/copyright/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
APIFetch/getPropertyInfo-compiled.js
APIFetch/getPropertyInfo-compiled.js.map
APIFetch/models/house-compiled.js
APIFetch/models/house-compiled.js.map
q3project.iml

# Env files
.idea/
.git/
env/
node_modules/
APIFetch/.env

# Developement files
visualization/*.html
.Notes/
winnie/
.ipynb_checkpoints/
*.pyc
*.ipynb
*.iml

# Data files
data/zestimate/
data/propertyInfo/cities
data/zpid
